USE [DOAN]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 07/23/21 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserAdmin] [varchar](50) NOT NULL,
	[PassAdmin] [varchar](50) NULL,
	[Hoten] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[UserAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDONDATHANG]    Script Date: 07/23/21 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDATHANG](
	[MADONDATHANG] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [decimal](18, 0) NULL,
 CONSTRAINT [PK__CTDONDAT__C2337ACB5B7E028F] PRIMARY KEY CLUSTERED 
(
	[MADONDATHANG] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 07/23/21 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADONDATHANG] [int] IDENTITY(1,1) NOT NULL,
	[DATHANHTOAN] [bit] NULL,
	[NGAYDAT] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[MAKH] [int] NULL,
	[TINHTRANGGIAOHANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONDATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 07/23/21 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[MAIL] [nvarchar](50) NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[MATKHAU] [varchar](50) NOT NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C10BA75F3] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIENHE]    Script Date: 07/23/21 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIENHE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](150) NULL,
	[CONGTY] [nvarchar](150) NULL,
	[DIENTHOAI] [varchar](15) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
 CONSTRAINT [PK_LIENHE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 07/23/21 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAISP] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 07/23/21 11:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[GIABAN] [decimal](18, 0) NULL,
	[MOTA] [nvarchar](max) NULL,
	[ANHBIA] [nvarchar](50) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[SOLUONGTON] [int] NULL,
	[MALOAISP] [int] NULL,
 CONSTRAINT [PK__SANPHAM__60228A3283C8E581] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([UserAdmin], [PassAdmin], [Hoten]) VALUES (N'admin', N'admin', N'Đặng Quang Huy')
INSERT [dbo].[Admin] ([UserAdmin], [PassAdmin], [Hoten]) VALUES (N'admin2', N'admin', N'Bùi Phúc Long')
GO
INSERT [dbo].[CTDONDATHANG] ([MADONDATHANG], [MASP], [SOLUONG], [DONGIA]) VALUES (7, 49, 1, CAST(6220000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

INSERT [dbo].[DONDATHANG] ([MADONDATHANG], [DATHANHTOAN], [NGAYDAT], [NGAYGIAO], [MAKH], [TINHTRANGGIAOHANG]) VALUES (7, 1, CAST(N'2021-07-23T13:10:40.000' AS DateTime), CAST(N'2021-07-30T00:00:00.000' AS DateTime), 9, 1)
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [MAIL], [TAIKHOAN], [MATKHAU]) VALUES (8, N'Huy', CAST(N'2000-11-11T00:00:00.000' AS DateTime), N'ấgsagads', N'312412523', N'dqhuy711@gmail.com', N'huycute', N'123456')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [MAIL], [TAIKHOAN], [MATKHAU]) VALUES (9, N'Huy', CAST(N'2010-01-16T00:00:00.000' AS DateTime), N'ádfsafsagas', N'1241251616', N'dsaga@gmail.com', N'admin', N'admin')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [MAIL], [TAIKHOAN], [MATKHAU]) VALUES (10, N'Bùi Long', CAST(N'2020-10-08T00:00:00.000' AS DateTime), N'hutech', N'1234567890', N'long@gmail.com', N'Long', N'123456')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISP] ON 

INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (1, N'iPhone')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (2, N'SamSung')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (3, N'Oppo')
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [MOTA], [ANHBIA], [NGAYCAPNHAT], [SOLUONGTON], [MALOAISP]) VALUES (40, N'iPhone12 mini', CAST(18990000 AS Decimal(18, 0)), N'<p>iPhone12 mini 64GB</p>', N'iphone12 mini.jpg', CAST(N'2021-07-23T00:00:00.000' AS DateTime), 50, 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [MOTA], [ANHBIA], [NGAYCAPNHAT], [SOLUONGTON], [MALOAISP]) VALUES (41, N'iPhone11 64GB', CAST(14990000 AS Decimal(18, 0)), N'<p>M&ocirc; tả th&ocirc;ng tin sản phẩm</p>', N'iPhone 11 .jpg', CAST(N'2021-07-23T00:00:00.000' AS DateTime), 50, 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [MOTA], [ANHBIA], [NGAYCAPNHAT], [SOLUONGTON], [MALOAISP]) VALUES (43, N'iPhone 11 Pro 512GB', CAST(31990000 AS Decimal(18, 0)), N'<p>M&ocirc; tả th&ocirc;ng tin sản phẩm</p>', N'iPhone-11-Pro.jpg', CAST(N'2021-07-23T00:00:00.000' AS DateTime), 50, 1)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__603F496B5E0BBE7E]    Script Date: 07/23/21 11:51:26 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ__KHACHHAN__603F496B5E0BBE7E] UNIQUE NONCLUSTERED 
(
	[MAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__8C5E6104F5F5BF1A]    Script Date: 07/23/21 11:51:26 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ__KHACHHAN__8C5E6104F5F5BF1A] UNIQUE NONCLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDATHANG_DONDATHANG] FOREIGN KEY([MADONDATHANG])
REFERENCES [dbo].[DONDATHANG] ([MADONDATHANG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [FK_CTDONDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONDATHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [FK_CTDONDATHANG_SANPHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISP] ([MALOAISP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__GIABAN__2D27B809] CHECK  (([Giaban]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__GIABAN__2D27B809]
GO
